# Nix build results
result
result-*

# qcow
*.qcow2

# Nix direnv
.direnv/
.envrc

# sops age private keys — NEVER commit these
key.txt
*.age
age-key.txt


# macOS
.DS_Store

# editors
.vscode/
.idea/
*.swp
*.swo
*~

# temporary files
*.tmp
*.bak
*.log